<article>
  <div class="card mb-3 bg-danger">
    <h3 class="card-header"><span id="text">Title:</span> {{ post.title | uppercase }}</h3>
    <div class="card-body">
      <h5 class="card-title"><span id="text">By:</span> {{ post.username }}</h5>
      <h6 class="card-subtitle text-muted"></h6>
    </div>
    <div class="card-body">
      <p class="card-text"></p>
    </div>
    <div class="card-body">
      {{ post.content }}
    </div>
    <div class="card-footer text-muted">
      <button *ngIf="isAdmin()" class="card-link btn btn-lg btn-success" (click)="onDelete()">Delete</button>
      <button *ngIf="isAdmin()" class="card-link btn btn-lg btn-success" (click)="onUpdate()">Update</button>
    </div>
  </div> 
</article>