<div class="jumbotron">
  <div class="text-center">
    <h1>Online Book Store</h1>      
    <p>Buy or sell your favorite book</p>
  </div>
</div>
<div class="row">
<div class="col-md-12">
<div *ngFor="let book of books" (click)="bookDetails(book)">
  <div id="book" *ngIf="!book.solded" class="card text-white mb-3 flex-container bg-info">
    <div class="card-header flex-item">{{ book.title }}</div>
    <div class="card-body flex-item">
      <h4 class="card-title flex-item">{{ book.price | currency : "usd" : 3 }}</h4>
      <p class="card-text flex-item"><img style="height: 200px; width: 40%; display: block;" src= "{{ book.image }}" alt="Book cover" title="{{ book.title }}"></p>
    </div>
  </div>
</div>
</div>
</div>